
body {

	background-color: #73Ac96;
	line-height: 30px;
	font-size: 1.2em;




}
.title2{
	text-align: center;
	margin-top: -20px;
}

h1 {
	background-color: #848686;
	text-align: center;
} 
figcaption{
	text-align: center;

}
img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
	position: relative;

}

ul{
	text-align: left;
	width: 100%,


}