
#container_1{
	display: flex; 
	justify-content: center;  /*puts the items along the main axis at the center*/
}
#container_2{
	display: flex;
	justify-content: space-between; /*puts the items along the main axis at apposite ends leaving eqaul spaces 
	                                   at both ends and spaces between the lines. It distribute items evenly
                                           The first item is flush with the start, the last is flush with the end */*/
}
#container_3{
	display: flex;
	justify-content: space-between;
}

.first,.second,.third,.fourth,.fifth{
	width: 150px;
	height: 150px;
}

.first{
	background: blue;
}
.second{
	background: green;
	margin-left: 27rem;
}
.third{
	background: yellow;
	margin-right: 27rem;
}
.fourth{
	background: red;
	margin-left: 17rem;
}
.fifth{
	background: purple;
	margin-right: 17rem;
}
