/*
While the list of items is provided in a linear way, Flex requires you to be
mindful of rows and columns. For this reason, it has two coordinate axis. The
horizontal axis is referred to as Main-Axis and the vertical is the Cross-Axis.

A key feature of flexbox is the ability to align and justify items on the main- and cross-axes, and to 
distribute space between flex items.

1. The align-items property will align the items on the cross axis. The initial value for this property is stretch and 
this is why flex items stretch to the height of the tallest one by default. They are in fact stretching to fill the 
flex container — the tallest item is defining the height of that.The values that can be used with align-items include:
a.stretch
b.flex-start
c.flex-end
d.center

2. The justify-content property is used to align the items on the main axis, the direction in which flex-direction
has set the flow. The initial value is flex-start which will line the items up at the start edge of the container, 
but you could also set the value to flex-end to line them up at the end, or center to line them up in the centre. The
values that can be used with justify-content include:
a.flex-start
b.flex-end
c.center
d.space-around
e.space-between
f.space-evenly
*/
#container_1{
	display: flex; 
	justify-content: center;  /*puts the items along the main axis at the center*/
}
#container_2{
	display: flex;
	justify-content: space-between; /*puts the items along the main axis at apposite ends leaving eqaul spaces 
	                                   at both ends and spaces between the lines. It distribute items evenly
                                           The first item is flush with the start, the last is flush with the end */*/
}
#container_3{
	display: flex;
	justify-content: space-between;
}

.first,.second,.third,.fourth,.fifth{
	width: 150px;
	height: 150px;
}

.first{
	background: blue;
}
.second{
	background: green;
	margin-left: 27rem;
}
.third{
	background: yellow;
	margin-right: 27rem;
}
.fourth{
	background: red;
	margin-left: 17rem;
}
.fifth{
	background: purple;
	margin-right: 17rem;
}
